<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (25)</h2>
  <ul>
    <% @acceptances.each do |attend| %>
    <li><%= attend %></li>
    <%end%>
  </ul>

  <h2>Apologies (22)</h2>
  <ul>
    <% @rejections.each do |reject| %>
    <li><%= reject %></li>
    <%end%>
  </ul>

</body>
</html>