<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    <tr>
      <td>8pm</td>
      <td>Doors open</td>
    </tr>
    <% @schedule.each do |timing| %>
    <tr>
   	  <td><%= timing[0] %><td>
      <td><%= timing[1] %><td>
    </tr>
    <% end %>  	
    <!-- etc. etc. -->
  </table>

</body>
</html>